<div class="site-name">
  My notes
</div>
<div class="nav">
  <%- nav = {'Home'=>'/','Operation'=>'/operations'}%>
  <%- cur_path = request.path%>
  <%- cur_path = '/' if cur_path == '/notes'%>
  <%- nav.each do |k,v|%>
    <%- s = cur_path == v ? 'active' : ''%>
    <a class="item <%= s%>" href="<%= v%>"><%= k%></a>
  <%- end%>
</div>

